<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


    <title>Exchange</title>
</head>

<body>


    <h1 class="mb-4 text-center">Currency Exchange</h1>
    {% for i in data %}
    {{i.crypto_currency.symbol}}
    {% endfor %}

    <form class="col-sm-4" style="margin-left: 33%;" action="" method="post">
        {% csrf_token %}

        <div class="form-row">


            <div class="form-group col-md-6">
                <label for="crypto">Cryptocurrency:</label>
                <select class="form-control" id="crypto" name="crypto">
                    {% for i in crypto_data %}
                    {% if i.symbol == selected_value.crypto.symbol %}
                    <option value="{{i.symbol}}" selected>{{i.symbol}}</option>
                    {% endif %}
                    <option value="{{i.symbol}}">{{i.symbol}}</option>
                    {% endfor %}
                    <!-- Add more cryptocurrency options as needed -->
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="quantity">Quantity:</label>
                <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Enter quantity"
                    required value="1">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="fiat">Fiat Currency:</label>
                <select class="form-control" id="fiat" name="fiat">
                    {% for i in fiat_data %}
                    <option value="{{i.symbol}}">{{i.symbol}}</option>
                    {% endfor %}

                    <!-- Add more cryptocurrency options as needed -->
                </select>
            </div>


            <div class="form-group col-md-6">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="fiat_price" name="fiat_price" value="{{fiat_value}}"
                    readonly>
            </div>
        </div>

        <div>
            <p>Total: <span id="total_crypto">{{symbol}}</span> * <span id="total_usd">{{fiat_value}}</span> =<span
                    id="total_amount"></span></p>
        </div>
        <div class="text-center">

            {% if action == "BUY" %}
            <button id="buyBtn" type="submit" class="btn btn-success w-25">BUY</button>
            {% else %}
            <button id="sellBtn" type="submit" class="btn btn-danger w-25">SELL</button>
            {% endif %}
        </div>
    </form>

    <!-- Include Bootstrap JavaScript (optional) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        function dynamicChange(quantity, price, totalAmount) {
            document.getElementById('total_crypto').innerText = quantity;
            document.getElementById('total_usd').innerText = Math.round(price * 100) / 100;
            document.getElementById('total_amount').innerText = Math.round(totalAmount * 100) / 100;
        }

        function getExchangeData(crypto_symbol, fiat_symbol) {
            if (crypto_symbol === null || fiat_symbol === null) {
                alert(`Crypto Symbol or Fiat Symbol is Null.`);
            } else {
                url = `/get-price/${crypto_symbol}/${fiat_symbol}/`;
                fetch(url, {
                    method: "GET",
                })
                    .then(data => data.json())
                    .then(res => {
                        document.getElementById("fiat_price").value = res.price;

                        // Additional logic to handle to_currency_amount value
                        var to_currency_amount = parseFloat(document.getElementById("fiat_price").value);
                        var from_currency_qty = parseInt(document.getElementById("quantity").value);
                        var total_amount = from_currency_qty * to_currency_amount;

                        dynamicChange(from_currency_qty, to_currency_amount, total_amount);

                        // Create transactionData here
                        var user = "{{ request.user }}";
                        var transaction_type = "{{ action }}";
                        var transaction_status = "SUCCESSED";
                        var from_currency = crypto_symbol;
                        var from_currency_qty = from_currency_qty;
                        var to_currency = fiat_symbol;

                        let transactionData = {
                            user: user,
                            transaction_type: transaction_type,
                            transaction_status: transaction_status,
                            from_currency: from_currency,
                            from_currency_qty: from_currency_qty,
                            to_currency: to_currency,
                            to_currency_amount: to_currency_amount,
                            total_amount: total_amount,
                        };

                        console.log(transactionData);
                        // transactionData = JSON.stringify(transactionData)
                        let buyBtn = document.getElementById("buyBtn");
                        buyBtn.onclick = function () {
                            url = `{% url 'transaction_view' %}`
                            // url = `${url.split("+")[0]}${transactionData}`
                            // console.log(`${url}`,"=======00000000", typeof(transactionData))

                            fetch(url, {
                                method: "POST",
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({
                                    data: transactionData
                                })
                            }).then(window.location.href = `/transaction/?data=${JSON.stringify(transactionData)}`)
                                .catch(err => console.log(`ERROR ==> ${err}`))

                            alert(JSON.stringify(transactionData));
                            // window.location.href = url;
                        }

                    })
                    .catch(error => console.log("ERROR: ", error));
            }
        }

        document.getElementById('quantity').addEventListener('change', function () {
            var crypto = document.getElementById("crypto");
            var fiat = document.getElementById("fiat");
            getExchangeData(crypto.value, fiat.value);
        });

        document.getElementById('crypto').addEventListener('change', function () {
            var crypto = document.getElementById("crypto");
            var fiat = document.getElementById("fiat");
            getExchangeData(crypto.value, fiat.value);
        });

        document.getElementById('fiat').addEventListener('change', function () {
            var crypto = document.getElementById("crypto");
            var fiat = document.getElementById("fiat");
            getExchangeData(crypto.value, fiat.value);
        });

        // Initial fetch when the page loads
        var selectedCrypto = '{{ selected_crypto.symbol }}';
        getExchangeData(selectedCrypto, 'USD');


        console.log("EEEEEEE")
    </script>

</body>

</html>