<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>


     <div class="container mt-5">
        <div class="card border-0 shadow">
            <div class="card-header bg-primary text-white text-center">
                <h2 class="mb-0">{{ selected_crypto.name }} My Wallet</h2>
            </div>
            <div class="card-body">
                <div class="row">
                     <div class="container mt-4">

                     <h3>Crypto Wallet</h3>
        <table class="table table-bordered table-striped">
            <thead class="table-light">
                <tr>
                    <th>Crypto-Name</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>

            {% for sum_data in data %}
            <tr> <td>{{ sum_data.currency_name }} </td> <td> {{ sum_data.total_sum }} </td> </tr>
            {% endfor %}

            </tbody>
        </table>
<h3>Currency Wallet</h3>
                         <table class="table table-bordered table-striped">
            <thead class="table-light">
                <tr>
                    <th>Crypto-Name</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>

            {% for sum_data in f_data %}
            <tr> <td>{{ sum_data.currency_name }} </td> <td> {{ sum_data.total_sum }} </td> </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

                </div>
            </div>
        </div>
    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
